# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/.cxx/Debug/64m245c4/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/64m245c4/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/64m245c4/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/64m245c4/arm64-v8a/.cmake/api/v1/reply/cache-v2-bd57c8c5def2b3322bc5.json
/android/app/.cxx/Debug/64m245c4/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-d21ddc602fb45aba0df4.json
/android/app/.cxx/Debug/64m245c4/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-801bf35888218c0810ee.json
/android/app/.cxx/Debug/64m245c4/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/64m245c4/arm64-v8a/.cmake/api/v1/reply/index-2025-03-16T07-26-27-0655.json
/android/app/.cxx/Debug/64m245c4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/64m245c4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/64m245c4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/64m245c4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/64m245c4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/64m245c4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/64m245c4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/64m245c4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/64m245c4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/64m245c4/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/64m245c4/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/64m245c4/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/64m245c4/arm64-v8a/additional_project_files.txt
/android/app/.cxx/Debug/64m245c4/arm64-v8a/android_gradle_build.json
/android/app/.cxx/Debug/64m245c4/arm64-v8a/android_gradle_build_mini.json
/android/app/.cxx/Debug/64m245c4/arm64-v8a/build.ninja
/android/app/.cxx/Debug/64m245c4/arm64-v8a/build_file_index.txt
/android/app/.cxx/Debug/64m245c4/arm64-v8a/cmake_install.cmake
/android/app/.cxx/Debug/64m245c4/arm64-v8a/CMakeCache.txt
/android/app/.cxx/Debug/64m245c4/arm64-v8a/configure_fingerprint.bin
/android/app/.cxx/Debug/64m245c4/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/Debug/64m245c4/arm64-v8a/prefab_config.json
/android/app/.cxx/Debug/64m245c4/arm64-v8a/symbol_folder_index.txt
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/.cmake/api/v1/reply/cache-v2-43d84a7fe521b9dab4aa.json
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-147beaba32d08686800e.json
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-ccbbdf8427052df0d7b8.json
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/.cmake/api/v1/reply/index-2025-03-16T07-26-51-0430.json
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/additional_project_files.txt
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/android_gradle_build_mini.json
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/build.ninja
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/build_file_index.txt
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/configure_fingerprint.bin
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/prefab_config.json
/android/app/.cxx/Debug/64m245c4/armeabi-v7a/symbol_folder_index.txt
/android/app/.cxx/Debug/64m245c4/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/64m245c4/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/64m245c4/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/64m245c4/x86/.cmake/api/v1/reply/cache-v2-235e4bdf20aba236197d.json
/android/app/.cxx/Debug/64m245c4/x86/.cmake/api/v1/reply/cmakeFiles-v1-675cb28e7e69b126d934.json
/android/app/.cxx/Debug/64m245c4/x86/.cmake/api/v1/reply/codemodel-v2-7e6631a086fa48ecf9e2.json
/android/app/.cxx/Debug/64m245c4/x86/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/64m245c4/x86/.cmake/api/v1/reply/index-2025-03-16T07-26-52-0784.json
/android/app/.cxx/Debug/64m245c4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/64m245c4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/64m245c4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/64m245c4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/64m245c4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/64m245c4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/64m245c4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/64m245c4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/64m245c4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/64m245c4/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/64m245c4/x86/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/64m245c4/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/64m245c4/x86/additional_project_files.txt
/android/app/.cxx/Debug/64m245c4/x86/android_gradle_build.json
/android/app/.cxx/Debug/64m245c4/x86/android_gradle_build_mini.json
/android/app/.cxx/Debug/64m245c4/x86/build.ninja
/android/app/.cxx/Debug/64m245c4/x86/build_file_index.txt
/android/app/.cxx/Debug/64m245c4/x86/cmake_install.cmake
/android/app/.cxx/Debug/64m245c4/x86/CMakeCache.txt
/android/app/.cxx/Debug/64m245c4/x86/configure_fingerprint.bin
/android/app/.cxx/Debug/64m245c4/x86/metadata_generation_command.txt
/android/app/.cxx/Debug/64m245c4/x86/prefab_config.json
/android/app/.cxx/Debug/64m245c4/x86/symbol_folder_index.txt
/android/app/.cxx/Debug/64m245c4/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/64m245c4/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/64m245c4/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/64m245c4/x86_64/.cmake/api/v1/reply/cache-v2-c88e94aa41081646c325.json
/android/app/.cxx/Debug/64m245c4/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-240ebfff41afb009d0fa.json
/android/app/.cxx/Debug/64m245c4/x86_64/.cmake/api/v1/reply/codemodel-v2-689c7796f0c6358f3f2d.json
/android/app/.cxx/Debug/64m245c4/x86_64/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/64m245c4/x86_64/.cmake/api/v1/reply/index-2025-03-16T07-26-54-0094.json
/android/app/.cxx/Debug/64m245c4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/64m245c4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/64m245c4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/64m245c4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/64m245c4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/64m245c4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/64m245c4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/64m245c4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/64m245c4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/64m245c4/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/64m245c4/x86_64/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/64m245c4/x86_64/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/64m245c4/x86_64/additional_project_files.txt
/android/app/.cxx/Debug/64m245c4/x86_64/android_gradle_build.json
/android/app/.cxx/Debug/64m245c4/x86_64/android_gradle_build_mini.json
/android/app/.cxx/Debug/64m245c4/x86_64/build.ninja
/android/app/.cxx/Debug/64m245c4/x86_64/build_file_index.txt
/android/app/.cxx/Debug/64m245c4/x86_64/cmake_install.cmake
/android/app/.cxx/Debug/64m245c4/x86_64/CMakeCache.txt
/android/app/.cxx/Debug/64m245c4/x86_64/configure_fingerprint.bin
/android/app/.cxx/Debug/64m245c4/x86_64/metadata_generation_command.txt
/android/app/.cxx/Debug/64m245c4/x86_64/prefab_config.json
/android/app/.cxx/Debug/64m245c4/x86_64/symbol_folder_index.txt
/android/app/.cxx/Debug/64m245c4/hash_key.txt
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/.cmake/api/v1/reply/cache-v2-bf47b2b314d2ece42798.json
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-eeefa6cb8a02b3a18967.json
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-a052d1a210d49ed9a56b.json
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/.cmake/api/v1/reply/index-2025-03-16T08-25-06-0947.json
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/additional_project_files.txt
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/android_gradle_build.json
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/android_gradle_build_mini.json
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/build.ninja
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/build_file_index.txt
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/cmake_install.cmake
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/CMakeCache.txt
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/configure_fingerprint.bin
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/metadata_generation_command.txt
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/prefab_config.json
/android/app/.cxx/Debug/z3ao6tf4/arm64-v8a/symbol_folder_index.txt
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/.cmake/api/v1/reply/cache-v2-b0db741a4389a95464d9.json
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-76521408920d67684c03.json
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-25abe90dcfbb09d9e4da.json
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/.cmake/api/v1/reply/index-2025-03-16T08-25-25-0125.json
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/additional_project_files.txt
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/android_gradle_build.json
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/android_gradle_build_mini.json
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/build.ninja
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/build_file_index.txt
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/cmake_install.cmake
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/CMakeCache.txt
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/configure_fingerprint.bin
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/metadata_generation_command.txt
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/prefab_config.json
/android/app/.cxx/Debug/z3ao6tf4/armeabi-v7a/symbol_folder_index.txt
/android/app/.cxx/Debug/z3ao6tf4/x86/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/z3ao6tf4/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/z3ao6tf4/x86/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/z3ao6tf4/x86/.cmake/api/v1/reply/cache-v2-dbee535e49f152baba8b.json
/android/app/.cxx/Debug/z3ao6tf4/x86/.cmake/api/v1/reply/cmakeFiles-v1-bd14699f2655c212d613.json
/android/app/.cxx/Debug/z3ao6tf4/x86/.cmake/api/v1/reply/codemodel-v2-b40bef839bf7509d0850.json
/android/app/.cxx/Debug/z3ao6tf4/x86/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/z3ao6tf4/x86/.cmake/api/v1/reply/index-2025-03-16T08-25-26-0735.json
/android/app/.cxx/Debug/z3ao6tf4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/z3ao6tf4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/z3ao6tf4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/z3ao6tf4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/z3ao6tf4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/z3ao6tf4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/z3ao6tf4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/z3ao6tf4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/z3ao6tf4/x86/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/z3ao6tf4/x86/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/z3ao6tf4/x86/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/z3ao6tf4/x86/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/z3ao6tf4/x86/additional_project_files.txt
/android/app/.cxx/Debug/z3ao6tf4/x86/android_gradle_build.json
/android/app/.cxx/Debug/z3ao6tf4/x86/android_gradle_build_mini.json
/android/app/.cxx/Debug/z3ao6tf4/x86/build.ninja
/android/app/.cxx/Debug/z3ao6tf4/x86/build_file_index.txt
/android/app/.cxx/Debug/z3ao6tf4/x86/cmake_install.cmake
/android/app/.cxx/Debug/z3ao6tf4/x86/CMakeCache.txt
/android/app/.cxx/Debug/z3ao6tf4/x86/configure_fingerprint.bin
/android/app/.cxx/Debug/z3ao6tf4/x86/metadata_generation_command.txt
/android/app/.cxx/Debug/z3ao6tf4/x86/prefab_config.json
/android/app/.cxx/Debug/z3ao6tf4/x86/symbol_folder_index.txt
/android/app/.cxx/Debug/z3ao6tf4/x86_64/.cmake/api/v1/query/client-agp/cache-v2
/android/app/.cxx/Debug/z3ao6tf4/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
/android/app/.cxx/Debug/z3ao6tf4/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
/android/app/.cxx/Debug/z3ao6tf4/x86_64/.cmake/api/v1/reply/cache-v2-c2ed1a84770ae5da4ac6.json
/android/app/.cxx/Debug/z3ao6tf4/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-bb6ddbf0f67a99867677.json
/android/app/.cxx/Debug/z3ao6tf4/x86_64/.cmake/api/v1/reply/codemodel-v2-b74abd2e6aecfef90aa9.json
/android/app/.cxx/Debug/z3ao6tf4/x86_64/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/android/app/.cxx/Debug/z3ao6tf4/x86_64/.cmake/api/v1/reply/index-2025-03-16T08-25-28-0247.json
/android/app/.cxx/Debug/z3ao6tf4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
/android/app/.cxx/Debug/z3ao6tf4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
/android/app/.cxx/Debug/z3ao6tf4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
/android/app/.cxx/Debug/z3ao6tf4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
/android/app/.cxx/Debug/z3ao6tf4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
/android/app/.cxx/Debug/z3ao6tf4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
/android/app/.cxx/Debug/z3ao6tf4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
/android/app/.cxx/Debug/z3ao6tf4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
/android/app/.cxx/Debug/z3ao6tf4/x86_64/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
/android/app/.cxx/Debug/z3ao6tf4/x86_64/CMakeFiles/cmake.check_cache
/android/app/.cxx/Debug/z3ao6tf4/x86_64/CMakeFiles/rules.ninja
/android/app/.cxx/Debug/z3ao6tf4/x86_64/CMakeFiles/TargetDirectories.txt
/android/app/.cxx/Debug/z3ao6tf4/x86_64/additional_project_files.txt
/android/app/.cxx/Debug/z3ao6tf4/x86_64/android_gradle_build.json
/android/app/.cxx/Debug/z3ao6tf4/x86_64/android_gradle_build_mini.json
/android/app/.cxx/Debug/z3ao6tf4/x86_64/build.ninja
/android/app/.cxx/Debug/z3ao6tf4/x86_64/build_file_index.txt
/android/app/.cxx/Debug/z3ao6tf4/x86_64/cmake_install.cmake
/android/app/.cxx/Debug/z3ao6tf4/x86_64/CMakeCache.txt
/android/app/.cxx/Debug/z3ao6tf4/x86_64/configure_fingerprint.bin
/android/app/.cxx/Debug/z3ao6tf4/x86_64/metadata_generation_command.txt
/android/app/.cxx/Debug/z3ao6tf4/x86_64/prefab_config.json
/android/app/.cxx/Debug/z3ao6tf4/x86_64/symbol_folder_index.txt
/android/app/.cxx/Debug/z3ao6tf4/hash_key.txt
